/* .main .swiper-wrapper .swiper-slide {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.main .swiper-scrollbar-horizontal {
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.main .mainswiper_pt {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */