.hd{
  background-color: white;
  transition: 1s;
}

.hd a{
  font-family: 'EB Garamond';
}

.hd .scroll {
  background-color: rgba(0, 0, 0, .5);
}

.hd .scroll a{
  color: white;
}

.hd .scroll h1 svg{
  transform: translateY(0);
}

.hd #allMenu {
  font-weight: 500;
}
/* 
.hd #allMenu .mobileNavi{
  position: absolute;
        top: calc(100% + 1px);
        left: 0;
        right: 0;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
}

.hd #allMenu .mobileNavi a{
  color: #010101;
}

.hd #allMenu .mobileNavi::before,
.hd #allMenu .mobileNavi::after{
  content: "";
            display: block;
            height: 1rem;
}

.hd #allMenu .mobileNavi .on{
  max-height: calc(100vh - 50px);
} */